.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #b3794f;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(187, 165, 165);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
  }
  
  .form-container input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-container button {
    background-color:coral;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .address-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1200px;
  }
  
  .address-card {
    background-color: rgb(216, 206, 203);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .address-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .address-card p {
    margin-bottom: 0.5rem;
  }